<div class="bg-white dark:bg-[#1e1f20]  mx-auto w-full max-w-7xl lg:px-8 justify-center">
    <app-navbar></app-navbar>

    <main class="flex-auto">
        <div class="sm:px-8 mt-16 sm:mt-32">
            <div class="mx-auto w-full max-w-7xl lg:px-8">
                <div class="relative px-4 sm:px-8 lg:px-12">
                    <div class="mx-auto max-w-2xl lg:max-w-5xl">
                        <header class="max-w-2xl">
                            <h1 class="text-4xl font-bold tracking-tight text-zinc-800 sm:text-5xl dark:text-zinc-100">
                                Mi habilidades técnicas.</h1>
                            <p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">Como desarrollador de software, 
                                utilizo las siguientes herramientas y lenguajes de programación para crear y mantener aplicaciones.</p>
                        </header>

                        <div class="mt-16 sm:mt-20">
                            <div class="space-y-20">
                                <section aria-labelledby=":S1:"
                                    class="md:border-l md:border-zinc-100 md:pl-6 md:dark:border-zinc-700/40">
                                    <div class="grid max-w-3xl grid-cols-1 items-baseline gap-y-8 md:grid-cols-4">
                                        <h2 id=":S1:" class="text-sm font-semibold text-zinc-800 dark:text-zinc-100">
                                            Software</h2>
                                        <div class="md:col-span-3">
                                            <div class="space-y-16">
                                                <article class="group relative flex flex-col items-start"
                                                    style="cursor: pointer;">
                                                    <h3
                                                        class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">
                                                        <div
                                                            class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-zinc-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 sm:-inset-x-6 sm:rounded-2xl dark:bg-zinc-800/50">
                                                        </div>
                                                    </h3>
                                                    <p
                                                        class="relative z-10 order-first mb-3 flex items-center text-sm text-zinc-400 dark:text-zinc-500 pl-3.5">
                                                        <span class="absolute inset-y-0 left-0 flex items-center"
                                                            aria-hidden="true"><span
                                                                class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"></span></span>Lenguajes
                                                        de Programación
                                                    </p>
                                                    <p
                                                        class="flex flex-row flex-wrap z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400 text-center animate-pulse">
                                                        <a href="https://www.java.com/es/" target="_blank"
                                                            class="flex flex-row items-center mx-3 my-1">
                                                            <span
                                                                class="icon-[devicon--java] text-4xl my-1 transform duration-300 ease-in-out hover:scale-150 ..."></span>&nbsp;&nbsp;Java
                                                        </a>
                                                        <a href="https://www.typescriptlang.org/" target="_blank"
                                                            class="flex flex-row items-center mx-3 my-1">
                                                            <span
                                                                class="icon-[devicon--typescript] text-4xl my-1 transform duration-300 ease-in-out hover:scale-150 ..."></span>&nbsp;&nbsp;TypeScript
                                                        </a>
                                                        <a href="https://docs.microsoft.com/es-es/dotnet/csharp/" target="_blank"
                                                            class="flex flex-row items-center mx-3 my-1">
                                                            <span
                                                                class="icon-[vscode-icons--file-type-csharp2] text-4xl my-1 transform duration-300 ease-in-out hover:scale-150 ..."></span>&nbsp;&nbsp;C#
                                                        </a>
                                                        <a href="https://developer.mozilla.org/es/docs/Web/JavaScript" target="_blank"
                                                            class="flex flex-row items-center mx-3 my-1">
                                                            <span
                                                                class="icon-[logos--javascript] text-4xl my-1 transform duration-300 ease-in-out hover:scale-150 ..."></span>&nbsp;&nbsp;JavaScript
                                                        </a>

                                                    </p>

                                                </article>
                                                <article class="group relative flex flex-col items-start"
                                                    style="cursor: pointer;">
                                                    <h3
                                                        class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">
                                                        <div
                                                            class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-zinc-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 sm:-inset-x-6 sm:rounded-2xl dark:bg-zinc-800/50">
                                                        </div>
                                                    </h3>
                                                    <p
                                                        class="relative z-10 order-first mb-3 flex items-center text-sm text-zinc-400 dark:text-zinc-500 pl-3.5">
                                                        <span class="absolute inset-y-0 left-0 flex items-center"
                                                            aria-hidden="true"><span
                                                                class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"></span></span>Frameworks
                                                    </p>
                                                    <p
                                                        class="flex flex-row flex-wrap z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400 animate-pulse">

                                                        <a href="https://angular.io/" target="_blank"
                                                            class="flex flex-row items-center mx-3 my-1">
                                                            <span
                                                                class="icon-[devicon--angular] text-4xl my-1 transform duration-300 ease-in-out hover:scale-150 ..."></span>&nbsp;&nbsp;Angular
                                                        </a>
                                                        <a href="https://spring.io/" target="_blank"
                                                            class="flex flex-row items-center mx-3 my-1">
                                                            <span style="color: #6fb31a;"
                                                                class="icon-[bxl--spring-boot] text-4xl my-1 transform duration-300 ease-in-out hover:scale-150 ..."></span>&nbsp;&nbsp;Spring
                                                        </a>
                                                        <a href="https://nodejs.org/en" target="_blank"
                                                            class="flex flex-row items-center mx-3 my-1">
                                                            <span style="color: #6fb31a;"
                                                                class="icon-[devicon--nodejs] text-4xl my-1 transform duration-300 ease-in-out hover:scale-150 ..."></span>&nbsp;&nbsp;Node.js
                                                        </a>
                                                        <a href="https://tailwindcss.com/" target="_blank"
                                                            class="flex flex-row items-center mx-3 my-1">
                                                            <span
                                                                class="icon-[vscode-icons--file-type-tailwind] text-4xl my-1 transform duration-300 ease-in-out hover:scale-150 ..."></span>&nbsp;&nbsp;Tailwind
                                                        </a>
                                                        <a href="https://getbootstrap.com/" target="_blank"
                                                            class="flex flex-row items-center mx-3 my-1">
                                                            <span
                                                                class="icon-[devicon--bootstrap] text-4xl my-1 transform duration-300 ease-in-out hover:scale-150 ..."></span>&nbsp;&nbsp;Bootstrap
                                                        </a>

                                                    </p>

                                                </article>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section aria-labelledby=":S2:"
                                    class="md:border-l md:border-zinc-100 md:pl-6 md:dark:border-zinc-700/40">
                                    <div class="grid max-w-3xl grid-cols-1 items-baseline gap-y-8 md:grid-cols-4">
                                        <h2 id=":S2:" class="text-sm font-semibold text-zinc-800 dark:text-zinc-100">
                                            Otros</h2>
                                        <div class="md:col-span-3">
                                            <div class="space-y-16">
                                                <article class="group relative flex flex-col items-start"
                                                    style="cursor: pointer;">
                                                    <h3
                                                        class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">
                                                        <div
                                                            class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-zinc-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 sm:-inset-x-6 sm:rounded-2xl dark:bg-zinc-800/50">
                                                        </div>
                                                    </h3>
                                                    <p
                                                        class="relative z-10 order-first mb-3 flex items-center text-sm text-zinc-400 dark:text-zinc-500 pl-3.5">
                                                        <span class="absolute inset-y-0 left-0 flex items-center"
                                                            aria-hidden="true"><span
                                                                class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"></span></span>Base de datos
                                                    </p>
                                                    <p
                                                        class="flex flex-row flex-wrap z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400 animate-pulse">

                                                        <a href="https://www.microsoft.com/es-es/sql-server" target="_blank"
                                                            class="flex flex-row items-center mx-3 my-1">
                                                            <span
                                                                class="icon-[devicon--sqldeveloper] text-4xl my-1 transform duration-300 ease-in-out hover:scale-150 ..."></span>&nbsp;&nbsp;SQL Server
                                                        </a>
                                                        <a href="https://www.mysql.com/" target="_blank"
                                                            class="flex flex-row items-center mx-3 my-1">
                                                            <span style="color: #6fb31a;"
                                                                class="icon-[logos--mysql] text-4xl my-1 transform duration-300 ease-in-out hover:scale-150 ..."></span>&nbsp;&nbsp;MySQL
                                                        </a>
                                                        <a href="https://www.postgresql.org/" target="_blank"
                                                            class="flex flex-row items-center mx-3 my-1">
                                                            <span
                                                                class="icon-[devicon--postgresql-wordmark] text-4xl my-1 transform duration-300 ease-in-out hover:scale-150 ..."></span>&nbsp;&nbsp;PostgreSQL
                                                        </a>
                                                    </p>

                                                </article>
                                                <article class="group relative flex flex-col items-start"
                                                    style="cursor: pointer;">
                                                    <h3
                                                        class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">
                                                        <div
                                                            class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-zinc-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 sm:-inset-x-6 sm:rounded-2xl dark:bg-zinc-800/50">
                                                        </div>
                                                    </h3>
                                                    <p
                                                        class="relative z-10 order-first mb-3 flex items-center text-sm text-zinc-400 dark:text-zinc-500 pl-3.5">
                                                        <span class="absolute inset-y-0 left-0 flex items-center"
                                                            aria-hidden="true"><span
                                                                class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"></span></span>Herramientas
                                                    </p>
                                                    <p
                                                        class="flex flex-row flex-wrap z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400 animate-pulse">

                                                        <a href="https://code.visualstudio.com/" target="_blank"
                                                            class="flex flex-row items-center mx-3 my-1">
                                                            <span
                                                                class="icon-[vscode-icons--file-type-vscode2] text-4xl my-1 transform duration-300 ease-in-out hover:scale-150 ..."></span>&nbsp;&nbsp;VSC
                                                        </a>
                                                        <a href="https://eclipseide.org/" target="_blank"
                                                            class="flex flex-row items-center mx-3 my-1">
                                                            <span
                                                                class="icon-[devicon--eclipse] text-4xl my-1 transform duration-300 ease-in-out hover:scale-150 ..."></span>&nbsp;&nbsp;Eclipse
                                                        </a>
                                                        <a href="https://www.postman.com/" target="_blank"
                                                            class="flex flex-row items-center mx-3 my-1">
                                                            <span style="color: #6fb31a;"
                                                                class="icon-[vscode-icons--file-type-postman] text-4xl my-1 transform duration-300 ease-in-out hover:scale-150 ..."></span>&nbsp;&nbsp;Postman
                                                        </a>
                                                        <a href="https://swagger.io/" target="_blank"
                                                            class="flex flex-row items-center mx-3 my-1">
                                                            <span
                                                                class="icon-[devicon--swagger] text-4xl my-1 transform duration-300 ease-in-out hover:scale-150 ..."></span>&nbsp;&nbsp;Swagger
                                                        </a>
                                                        <a href="https://git-scm.com/" target="_blank"
                                                            class="flex flex-row items-center mx-3 my-1">
                                                            <span
                                                                class="icon-[devicon--git] text-4xl my-1 transform duration-300 ease-in-out hover:scale-150 ..."></span>&nbsp;&nbsp;Git
                                                        </a>
                                                        <a href="https://github.com/" target="_blank"
                                                            class="flex flex-row items-center mx-3 my-1">
                                                            <span
                                                                class="icon-[uil--github] text-4xl my-1 transform duration-300 ease-in-out hover:scale-150 ..."></span>&nbsp;&nbsp;Git Hub
                                                        </a>
                                                        <a href="https://vercel.com/" target="_blank"
                                                            class="flex flex-row items-center mx-3 my-1">
                                                            <span
                                                                class="icon-[devicon--vercel] text-4xl my-1 transform duration-300 ease-in-out hover:scale-150 ..."></span>&nbsp;&nbsp;Vercel
                                                        </a>

                                                    </p>

                                                </article>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>

    <app-footer></app-footer>
</div>