
<div class="bg-white dark:bg-[#1e1f20]  mx-auto w-full max-w-7xl lg:px-8 justify-center">
<app-navbar></app-navbar>

<main class="flex-auto">
    <div class="sm:px-8 mt-16 sm:mt-32">
        <div class="mx-auto w-full max-w-7xl lg:px-8">
            <div class="relative px-4 sm:px-8 lg:px-12">
                <div class="mx-auto max-w-2xl lg:max-w-5xl">
                    <header class="max-w-2xl">
                        <h1 class="text-4xl font-bold tracking-tight text-zinc-800 sm:text-5xl dark:text-zinc-100">
                            He desempeñado diversos puestos laborales tanto en el Sector Público como en Empresas Privadas.</h1>
                        <p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">La diversidad de mis experiencias me ha
                             permitido desarrollar una gran adaptabilidad, capacidad de aprendizaje y una visión integral
                              del mundo laboral. He aprendido a trabajar en equipo, a comunicarme de manera efectiva, a gestionar
                               proyectos de forma eficiente y a resolver problemas de manera creativa.</p>
                    </header>
                    <div class="mt-16 sm:mt-20">
                        <div class="md:border-l md:border-zinc-100 md:pl-6 md:dark:border-zinc-700/40">
                            <div class="flex max-w-3xl flex-col space-y-16">
                                <article class="md:grid md:grid-cols-4 md:items-baseline">
                                    <div class="md:col-span-3 group relative flex flex-col items-start">
                                        <h2
                                            class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">
                                            <div
                                                class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-zinc-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 sm:-inset-x-6 sm:rounded-2xl dark:bg-zinc-800/50">
                                            </div><a
                                                href="/articles/crafting-a-design-system-for-a-multiplanetary-future"><span
                                                    class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl"></span><span
                                                    class="relative z-10">Asistente Administrativo</span></a>
                                        </h2><time
                                            class="md:hidden relative z-10 order-first mb-3 flex items-center text-sm text-zinc-400 dark:text-zinc-500 pl-3.5"
                                            datetime="2023-11"><span
                                                class="absolute inset-y-0 left-0 flex items-center"
                                                aria-hidden="true"><span
                                                    class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"></span></span>Nov 2023 - Ene 2024</time>
                                        <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">Fui <b>Asistente Administrativo</b> en la <b>Municipalidad Distrital de Catahuasi</b>,
                                             donde me encargué de la organización y gestión del archivo central, incluyendo la clasificación, digitalización y custodia de documentos. 
                                             También atendía al público, brindando información y orientación sobre trámites administrativos. Además, elaboraba documentos oficiales, 
                                             como actas, resoluciones, informes y memorandos, y gestionaba diversos trámites administrativos, como permisos, licencias y solicitudes.</p>
                                        <div aria-hidden="true"
                                            class="relative z-10 mt-4 flex items-center text-sm font-medium text-teal-500">
                                            View Website<svg viewBox="0 0 16 16" fill="none" aria-hidden="true"
                                                class="ml-1 h-4 w-4 stroke-current">
                                                <path d="M6.75 5.75 9.25 8l-2.5 2.25" stroke-width="1.5"
                                                    stroke-linecap="round" stroke-linejoin="round"></path>
                                            </svg></div>
                                    </div><time
                                        class="mt-1 hidden md:block relative z-10 order-first mb-3 items-center text-sm text-zinc-400 dark:text-zinc-500"
                                        datetime="2022-09-05">Nov 2023 - Ene 2024</time>
                                </article>
                                <article class="md:grid md:grid-cols-4 md:items-baseline">
                                    <div class="md:col-span-3 group relative flex flex-col items-start">
                                        <h2
                                            class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">
                                            <div
                                                class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-zinc-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 sm:-inset-x-6 sm:rounded-2xl dark:bg-zinc-800/50">
                                            </div><a href="/articles/introducing-animaginary"><span
                                                    class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl"></span><span
                                                    class="relative z-10">Asesor Comercial</span></a>
                                        </h2><time
                                            class="md:hidden relative z-10 order-first mb-3 flex items-center text-sm text-zinc-400 dark:text-zinc-500 pl-3.5"
                                            datetime="2023-08-09"><span
                                                class="absolute inset-y-0 left-0 flex items-center"
                                                aria-hidden="true"><span
                                                    class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"></span></span>Ago 2023 - Oct 2023</time>
                                        <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">Fui <b>Asesor Comercial</b> en <b>GSS Covisian</b>,
                                             una empresa líder en el sector de atención al cliente. Allí desarrollé una sólida base en técnicas de negociación, 
                                             fidelización, gestión de clientes y estrategias de venta, fortalecí valores como la ética profesional, 
                                             la responsabilidad social y el compromiso con el servicio al cliente, brindando una atención personalizada 
                                             y soluciones innovadoras a las necesidades de cada uno.</p>
                                        <div aria-hidden="true"
                                            class="relative z-10 mt-4 flex items-center text-sm font-medium text-teal-500">
                                            View Website<svg viewBox="0 0 16 16" fill="none" aria-hidden="true"
                                                class="ml-1 h-4 w-4 stroke-current">
                                                <path d="M6.75 5.75 9.25 8l-2.5 2.25" stroke-width="1.5"
                                                    stroke-linecap="round" stroke-linejoin="round"></path>
                                            </svg></div>
                                    </div><time
                                        class="mt-1 hidden md:block relative z-10 order-first mb-3 items-center text-sm text-zinc-400 dark:text-zinc-500"
                                        datetime="2023-08-09">Ago 2023 - Oct 2023</time>
                                </article>
                                <article class="md:grid md:grid-cols-4 md:items-baseline">
                                    <div class="md:col-span-3 group relative flex flex-col items-start">
                                        <h2
                                            class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">
                                            <div
                                                class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-zinc-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 sm:-inset-x-6 sm:rounded-2xl dark:bg-zinc-800/50">
                                            </div><a href="/articles/rewriting-the-cosmos-kernel-in-rust"><span
                                                    class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl"></span><span
                                                    class="relative z-10">Secretario General</span></a>
                                        </h2><time
                                            class="md:hidden relative z-10 order-first mb-3 flex items-center text-sm text-zinc-400 dark:text-zinc-500 pl-3.5"
                                            datetime="2022-07-14"><span
                                                class="absolute inset-y-0 left-0 flex items-center"
                                                aria-hidden="true"><span
                                                    class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"></span></span>Jun 2021 - Ene 2024</time>
                                        <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">Fui <b>Secretario General</b> en la <b>Municipalidad Distrital de Hongos</b>.
                                             Donde consolidé una sólida base en gestión pública, administración municipal y normativa legal. 
                                             Implementé un sistema de gestión documental eficiente y transparente, optimizando los procesos administrativos 
                                             y asegurando el cumplimiento de las normas. Además, promoví una cultura de trabajo en equipo, ética y responsabilidad social,
                                             fortaleciendo la confianza del equipo técnico en la gestión municipal.</p>
                                        <div aria-hidden="true"
                                            class="relative z-10 mt-4 flex items-center text-sm font-medium text-teal-500">
                                            View Website<svg viewBox="0 0 16 16" fill="none" aria-hidden="true"
                                                class="ml-1 h-4 w-4 stroke-current">
                                                <path d="M6.75 5.75 9.25 8l-2.5 2.25" stroke-width="1.5"
                                                    stroke-linecap="round" stroke-linejoin="round"></path>
                                            </svg></div>
                                    </div><time
                                        class="mt-1 hidden md:block relative z-10 order-first mb-3 items-center text-sm text-zinc-400 dark:text-zinc-500"
                                        datetime="2023-06-16">Jun 2021 - Ene 2024</time>
                                </article>
                                <article class="md:grid md:grid-cols-4 md:items-baseline">
                                    <div class="md:col-span-3 group relative flex flex-col items-start">
                                        <h2
                                            class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">
                                            <div
                                                class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-zinc-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 sm:-inset-x-6 sm:rounded-2xl dark:bg-zinc-800/50">
                                            </div><a href="/articles/rewriting-the-cosmos-kernel-in-rust"><span
                                                    class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl"></span><span
                                                    class="relative z-10">Técnico de Soporte TI</span></a>
                                        </h2><time
                                            class="md:hidden relative z-10 order-first mb-3 flex items-center text-sm text-zinc-400 dark:text-zinc-500 pl-3.5"
                                            datetime="2022-07-14"><span
                                                class="absolute inset-y-0 left-0 flex items-center"
                                                aria-hidden="true"><span
                                                    class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"></span></span>Jul 2019 - Dic 2019</time>
                                        <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">Fui <b>Técnico de Soporte TI</b> en <b>Centelsa S.A.</b>,
                                             empresa dedicada a la manufacturera de cables para energía y comunicaciones. Allí, brindé soporte técnico a usuarios y equipos informáticos,
                                              resolviendo problemas de hardware y software, configurando sistemas y redes, y realizando mantenimientos preventivos y correctivos. 
                                              Desarrollé una sólida base en sistemas operativos, redes de datos, software de oficina y herramientas de diagnóstico. Además,
                                               me capacité en atención al cliente y resolución de problemas, brindando un servicio eficiente y de calidad a los usuarios.</p>
                                        <div aria-hidden="true"
                                            class="relative z-10 mt-4 flex items-center text-sm font-medium text-teal-500">
                                            View Website<svg viewBox="0 0 16 16" fill="none" aria-hidden="true"
                                                class="ml-1 h-4 w-4 stroke-current">
                                                <path d="M6.75 5.75 9.25 8l-2.5 2.25" stroke-width="1.5"
                                                    stroke-linecap="round" stroke-linejoin="round"></path>
                                            </svg></div>
                                    </div><time
                                        class="mt-1 hidden md:block relative z-10 order-first mb-3 items-center text-sm text-zinc-400 dark:text-zinc-500"
                                        datetime="2023-06-16">Jul 2019 - Dic 2019</time>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<app-footer></app-footer>
</div>